name: Build Test
on: [push, pull_request]
jobs:
  build:
    name: Build Distribution
    runs-on: ubuntu-latest
    environment:
      name: build
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: 3.14
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade setuptools wheel
        python -m pip install build --user
    - name: Build a binary wheel and a source tarball
      run: python -m build
    - name: Store the distribution packages
      uses: actions/upload-artifact@v4
      with:
        name: python-package-distributions
        path: dist/